body {
  background-color: white;
  background-image: url("https://bit.ly/2JOrbtv" );
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 175px;
  font-family: 'Cabin Sketch'
}
